<footer>
  <div class="d-flex justify-content-between py-4 my-4 border-top">
    <div class="card" style="width: 40rem;">
    <p>&copy; mohamad mousa.</p>
    <p> email:mohamad.mousa145@gmail.com</p>
    <img
    src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t39.30808-6/278232125_5531949646834843_8293388175394555827_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=CSxVj2nmTjEAX_hsr1o&_nc_ht=scontent.fsdv2-1.fna&oh=00_AT-f4Mn_k3pb7mIm5RG17h2ALWOdGvSk35JXlGPGmwDsAw&oe=62BD19A6"
    alt="Tel-aviv picturer"
    [ngStyle]="{ width: '30%', height: 'auto', 'max-width': '550px' }"
  />
  </div>
  </div>
</footer>
