<div class="text-center d-flex flex-column" style="display: inline-block">
  <div style="display: inline-block">
    <h1 class="cover-heading">Tel-Aviv</h1>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Hashalom_interchange.jpg/1024px-Hashalom_interchange.jpg"
      alt="Tel-aviv picturer"
      [ngStyle]="{ width: '100%', height: 'auto', 'max-width': '850px' }"
    />
    <p  class="lead" style="width: 50%; margin: auto"><b>
      Tel Aviv-Yafo , often referred to as just Tel Aviv, is the most populous city in
      the Gush Dan metropolitan area of Israel. Located on the Israeli 
      Mediterranean coastline and with a population of 460,613, it is the economic 
      and technological center of the country. If East Jerusalem is considered part 
      of Israel, Tel Aviv is the country's second most populous city after Jerusalem; 
      if not, Tel Aviv is the most populous city ahead of West Jerusalem.
    </b>
    </p>
  </div>
</div>
